body{
  background-color: #4F422B;
  font-family: sans-serif;
  padding: 20px;
}
.menu{
  width: 80%;
  max-width: 500px;
  background-color: #113b08;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  border-radius: 10px;
}
.established{
  font-style: italic;
}
hr{
  height: 1px;
  background-color: #F2E205;
  border-color: #F2E205;
}
h1, h2, h3, p {
 text-align: center;
 color: #F2E205;
}
h1, h2 {
  font-family: Impact, serif;
  color: white;
}
h1{
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 15px;
}
h2{
  font-size: 30px;
}
.item p{
  display: inline-block;
  margin:5px 0px 5px 0px;
  font-size: 18px;
}
#houseSpecial p{
  font-size: 20px;
  text-decoration:solid;
}
.icone{
  display: block;
  margin: -25px auto 10px auto;
}
li{
  color:white;
}
.snacks, .mainDish, .drinks{
  text-align: left;
  width: 75%;
  
}
.price{
  text-align: right;
  color:#529AD9;
  width: 25%;
}
.line-bottom{
  margin-top: 25px;
}

/*FOOTER*/

footer{
  font-size: 14px;
}
a{
  color:#529AD9;
  text-decoration: none;
}

a:visited{
  color:aquamarine;
}
a:hover{
  color:black;
}
a:active{
  color: white;
}
.bottom-link{
  margin-bottom: 5px;
}
.indicators{
  text-align: center;
}

.top{
  color: white;
  text-shadow: 2px 2px black;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}

.top:visited{
  color:white;
  text-shadow: 2px 2px black;
  font-weight: 600;
}
.top:hover{
  color:rgb(159, 161, 27);
}
.top:active{
  color: white;
}
button{
  border: 1px solid rgba(0, 0, 0, 0.664);
  margin: 1px;
  border-radius: 20px;
  padding: 15px 7px;
}
.buttonPestico{
  background-image: url(petisco.jpeg);
  background-position: left center;
  background-size: cover;
}
.buttonPrincipal{
  background-image: url(principal.jpeg);
  background-position: right center;
  background-size: cover;
}
.buttonBebida{
  background-image: url(bebidas.jpeg);
  background-position: center center;
  background-size: cover;
}
